#add {
  width: 98.7vw;
  height: 85vh;
  margin: auto;
  /* z-index: 0; */
}
.slick-prev,
.slick-next {
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: -5%;
  height: 50px;
  position: absolute;
  z-index: 1000;
  border: 2px solid transparent;
  transition: border 0.3s ease-in-out;
  display: block !important;
}

.arrowdiv:hover {
  border: 2px solid black;
  /* height: 20px; */
}
.slick-prev {
  left: 1%;
}
.slick-next {
  right: 1%;
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: black;
}
#add img {
  width: 100%;
  height: 90%;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}
.arrowdiv {
  width: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
}
.arrow {
  width: 40px;
  height: 40px;
}
